---
import Layout from '../layouts/Layout.astro';
import Container from '../layouts/Container.astro';
import MainDisplay from '../components/display/MainDisplay';
import { CATEGORIES_LIST_AS_SLUG } from '../const';
import getPostsForCategory from '../helpers/api/getPostsForCategory';
import getPosts from '../helpers/api/getPosts';
import PostGrid from '../components/PostGrid';
import Divider from '../components/Divider';

const testCategoryId = CATEGORIES_LIST_AS_SLUG["test"].id;
const testPostsRes = getPostsForCategory(parseInt(testCategoryId), 7, 1);

const comparatifCategoryId = CATEGORIES_LIST_AS_SLUG["comparatif"].id;
const comparatifPostsRes = getPostsForCategory(parseInt(comparatifCategoryId), 7, 1);

const formationCategoryId = CATEGORIES_LIST_AS_SLUG["formation"].id;
const formationPostsRes = getPostsForCategory(parseInt(formationCategoryId), 7, 1);

const latestPostsRes = getPosts("per_page=3");

const [testPosts, comparatifPosts, latestPosts, formationPosts] = await Promise.all([testPostsRes, comparatifPostsRes, latestPostsRes, formationPostsRes]);

const title = "Votre assistant pour comprendre l'IA";
const excerpt = "Nous vous aidons à prendre le virage de l'intélligence artificielle en comparant les meilleurs outils du moment !";
const url = "https://deeptool.fr";
const image = "https://deeptool.fr/og.jpg";

---

<Layout title="Welcome to Astro.">

    <title slot="head">{title}</title>
	<meta slot="head" property="og:title" content={title}>
    <meta slot="head"  name="description" content={excerpt}>
    <meta slot="head"  name="robots" content="index, follow">
    <meta slot="head"  name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta slot="head"  name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <link slot="head"  rel="canonical" href={url}>
    <meta slot="head"  property="og:url" content={url}>
    <meta slot="head"  property="og:site_name" content="deeptool.fr">
    <meta slot="head"  property="og:locale" content="fr_FR">
    <meta slot="head"  property="og:type" content="article">
    <meta slot="head"  property="og:description" content={excerpt}>
    <meta slot="head"  property="og:image" content={image}>
    <meta slot="head"  property="og:image:secure_url" content={image}>
    <meta slot="head"  property="og:image:width" content="1280">
    <meta slot="head"  property="og:image:height" content="720">
    <meta slot="head"  name="twitter:card" content="summary">
    <meta slot="head"  name="twitter:title" content={title}>
    <meta slot="head"  name="twitter:description" content={excerpt}>
    <meta slot="head"  name="twitter:image" content={image}>

	<Container>
		<main>
			{latestPosts && latestPosts.length > 0 && (
				<MainDisplay
					posts={latestPosts}
				/>
			)}
			<div>
				<Divider />
			</div>
			{comparatifPosts && comparatifPosts.length > 0 && (
				<div>
					<h2 class="text-3xl font-medium font-outfit">Les meilleurs outils IA 🔥</h2>
					<PostGrid posts={comparatifPosts} />
				</div>
			)}
			<div>
				<Divider />
			</div>
			{testPosts && testPosts.length > 0 && (
				<div>
					<h2 class="text-3xl font-medium font-outfit">Nos derniers tests 🤖</h2>
					<PostGrid posts={testPosts} />
				</div>
			)}
			<div>
				<Divider />
			</div>
			{formationPosts && formationPosts.length > 0 && (
				<div>
					<h2 class="text-3xl font-medium font-outfit">Comprendre l'IA 📚</h2>
					<PostGrid posts={formationPosts} />
				</div>
			)}
		</main>
	</Container>
</Layout>